 .SearchContainer {
 	font-style: oblique;
 	background-color: beige;
	border: 2px black solid; 
	border-radius: 10px; 
	margin: 20px;
 }

 /* body {
 	background-color: aliceblue;
 } */

 .IndexSec{
	font-family: 'Raleway', sans-serif;
	font-size: larger;
	font-weight: bold;
	
 }

 .ResultPageContainer{
	background: beige;
 }

 #tb1{
	border: 2px black solid;
 }

 td{
	word-wrap: break-word;
}

.error{
	font-style: oblique;
	color: red;
}

.logout{

	font-style: italic;
	color: blue;
}

.AddMovieContainer{

	font-style: oblique;
	margin-left: 5%;
}

.admin{
	font-style: oblique;
	font-size: larger;
	margin-top: 3%;
	margin-left: 7%;
}
.searchForm{
	margin-left: 3%;
	
}