<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin pages</title>
    	<link rel="stylesheet" href="../css/allCss.css">

</head>
<body style="background-color: darkkhaki;" >

    <div class="admin">
        <H2> Admin Page:</H2>

            <a th:href="@{/AddMovie}">Add Movie</a> &nbsp;
            <a th:href="@{/Modify}">Modify Movie</a>

    </div>
     <!-- <form action="#" th:action="@{/Admin}" method="get">



     </form> -->
</body>
</html>