<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>logout</title>

</head>

<body>
	<!-- Using as fragment in other pages-->
	<div class="logout" align="right" th:fragment="logout">
		<form th:action="@{/logout}" method="post" onsubmit="return confirmBox()">
			<input type="submit"  value="Sign Out" />
		</form>
	</div>

	<div class="homeButton" th:fragment="homeButton">
		<form method="get" action="#" th:action="@{/}">
			<input type="submit" value="HomePage">
			
			</form>
	</div>

</body>

</html>